ul>li>a{
background-color:gray;
background-repeat: no-repeat;
width:13px;
height:10px;
border:1px solid white;
text-decoration:none;
font-size:13px;
font-weight:30px;
}

li{
list-style: none;
position: absolute;
margin:0px;
height:10px;
}


#background
{	
	background-repeat:no-repeat;	
	clear: both;
	overflow: hidden;
	position: relative;
	width:690px;
	height:1000px;
	background-image: url('../image/pay_step1_seat.svg');
	padding: 13px 13px;
	zoom: 0.91;

}



ul>li>input:hover
{
	background:red;
}


input[type="checkbox"]:checked {
	
	background-color blue;
	
}

.column_1{ left:100px; }
.column_2{ left:115px; }
.column_3{ left:130px; }
.column_4{ left:145px; }
.column_5{ left:160px; }
.column_6{ left:175px; }
.column_7{ left: 190px; }
.column_8{ left: 205px; }
.column_9{ left: 250px; }
.column_10{ left: 265px; }
.column_11{ left:280px; }
.column_12{ left:295px; }
.column_13{ left:310px; }
.column_14{ left:325px; }
.column_15{ left:340px; }
.column_16{ left:355px; }
.column_17{ left:370px; }
.column_18{ left:385px; }
.column_19{ left:400px; }
.column_20{ left:415px; }
.column_21{ left:430px; }
.column_22{ left:445px; }
.column_23{ left:495px; }
.column_24{ left:510px; }
.column_25{ left:525px; }
.column_26{ left:540px; }
.column_27{ left:555px; }
.column_28{ left:570px; }
.column_29{ left:585px; }
.column_30{ left:600px; }

			


.row_1{top:102px;}
.row_2{top:119px;}
.row_3{top:136px;}
.row_4{top:153px;}
.row_5{top:170px;}
.row_6{top:187px;}
.row_7{top:204px;}
.row_8{top:221px;}
.row_9{top:238px;}
.row_10{top:255px;}
.row_11{top:272px;}
.row_12{top:289px;}
.row_13{top:306px;}
.row_14{top:323px;}
.row_15{top:340px;}
.row_16{top:357px;}
.row_17{top:374px;}
.row_18{top:391px;}
.row_19{top:408px;}
.row_20{top:425px; border-bottom:1px solid white;}

.row_21{top:540px;}
.row_22{top:557px;}
.row_23{top:574px;}
.row_24{top:591px;}
.row_25{top:608px;}
.row_26{top:625px;}
.row_27{top:642px;}
.row_28{top:659px;}
.row_29{top:676px;}


.row_30{top:804px;}
.row_31{top:821px;}
.row_32{top:838px;}
.row_33{top:855px;}
.row_34{top:872px;}
.row_35{top:889px;}
.row_36{top:906px;}
.row_37{top:923px;}
